

body {
    color: #fff
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    border-radius: 4px;
    background: aquamarine;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0 purple;
    transform: scale(1.02);
    transform: transform 100ms;

}

.choice-title {
    padding: 2rem 2.5rem;
    color: navy;
}

.choice-text {
    padding: 2rem;
    width: 100%;
    color: navy;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: darkred;
}

/* Display values and fill bar on the quiz*/

#display {
    display:flex;
    justify-content: space-between;
}

.display-title {
    text-align: center;
    font-size: 2rem;
}

.display-main-text {
    text-align: center;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: .2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressFill{
    height: 100%;
    background: green;
    width: 0%;

}

@media screen and (max-width: 760px){
    .choice-container {
        min-width: 40rem;
    }
}